.pwallShow {
  height: 35vh;
  width: 100vw;
  background-image: url("../asset/wallper/log.gif");
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: -1;
  p {
    position: absolute;
    width: 100vw;
    min-height: 36vh;
    padding: 60px;
    font-size: 39px;
    font-weight: 600;
    text-transform: uppercase;
    color: blanchedalmond;
    background-color: rgba(191, 199, 199, 0.028);
    backdrop-filter: blur(45px);
  }
}

.main6 {
  width: 100%;
  height: 100vh;
  margin-bottom: 60px;
  .noth {
    position: absolute;
    left: 50%;
    top: 60%;
  }
  .Panier {
    .ContenuPanier {
      position: relative;
      width: 100%;
      max-width: 1328px;
      height: max-content;
      left: 200px;
      padding: 35px;
      margin: 100px 0 200vw 70px;
      background-color: #fff;
      border-radius: 3.3rem;
      box-shadow: 60px 60px 40px 60px rgba(0, 0, 0, 0.27);
      .form-panier {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .TableauPanier {
          height: max-content;
          display: flex;
          border: 4px solid #6060601f;
          border-radius: 10px;
          margin-right: 15px;

          .Colonne {
            display: flex;
            flex-direction: column;
            align-items: center;

            .TProduits {
              background-color: white;
              border-bottom: 4px solid #6060601f;
              width: 100%;
              display: flex;
              justify-content: center;

              p {
                padding: 25px 50px;
              }
            }

            .Produit {
              background-color: white;
              padding: 32px 20px;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              .ImgProduit {
                background-color: #0c0c0d;
                border-radius: 10px;
                margin-right: 23px;
                width: 110.59px;
                height: 182px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                  width: 100%;
                }
              }

              .InfoProduit {
                .TitreProduit {
                  margin-bottom: 40px;
                }
              }

              .InfoProduit:hover {
                path {
                  stroke: red;
                }
              }
            }
          }
        }

        .Resum {
          width: 490px;
          height: inherit;
          border-radius: 10px;
          .Titre {
            background-color: white;
            color: #0c0c0d;
            display: flex;
            justify-content: center;
            border-bottom: 4px solid #6060601f;
            border-radius: 4px 4px 0px 0px;
            width: 100%;
            padding: 20px 0px;
          }
          .ContenuResume {
            background-color: white;
            padding: 6vw;
            border-radius: 0px 0px 4px 4px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .Resumee {
              .Objet {
                color: #0c0c0d;
                display: flex;
                justify-content: space-between;
                width: 376px;
                border-bottom: 1px solid;
                margin-bottom: 20px;
              }
            }
            .Total {
              color: #0c0c0d;
              margin: 50px 0px;
              display: flex;
              justify-content: space-between;
              width: 376px;
              border-bottom: 1px solid;
            }
            button,
            .vider {
              margin-top: 50px;
              background-color: #0c0c0d;
              border-radius: 10px;
              padding: 15px 70px;
              color: white;
              width: max-content;
              text-decoration: none;
            }
            button:hover {
              background-color: rgb(7, 58, 117);
            }
            .vider:hover {
              background-color: red;
            }
          }
        }
      }
    }
  }
}

.commandeDash {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;

  .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    width: 100%;
    background: white;
    padding: 20px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 60px 60px 40px 60px rgba(0, 0, 0, 0.27);

    .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        font-weight: 600;
        color: #0c0c0d;
      }
      .btn {
        position: relative;
        padding: 5px 10px;
        background: #0c0c0d;
        text-decoration: none;
        color: white;
        border-radius: 6px;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      thead {
        td {
          font-weight: 600;
        }
      }
      tr {
        color: #323233;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        td {
          padding: 10px;
        }
        td:last-child {
          text-align: end;
        }
        td:nth-child(2) {
          text-align: end;
        }
        td:nth-child(3) {
          text-align: center;
        }
      }
      tr:last-child {
        border-bottom: none;
      }
      tbody {
        tr {
          td {
            .status {
              padding: 2px 4px;
              background: #8de02c;
              color: var(--white);
              border-radius: 4px;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        tr:hover {
          background: #0c0c0d;
          color: white;
        }
      }
    }
  }
}
