*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}
header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.7s;

  background-color: rgba(171, 170, 170, 0.545);
  box-shadow: 0 5px 20px 0.1px rgba(121, 115, 115, 0.544);
  backdrop-filter: blur(29px);
}


button {
  background: none;
  border: 1px solid #8d8d8e;
  box-sizing: border-box;
  border-radius: 99px;
  cursor: pointer;
}

span {
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  margin: 0 70px 0 70px;
}
.wall {
  display: flex;
  justify-content: center;
  background-color: #3c6ca9;
}
.wall video {
  width: 82%;
  padding-top: 50px;
}

.sign{
  width: 100%;
  padding: 5px;
}

.roleAdmin a{
  display: flex;
  color: black;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
}
.roleAdmin a:hover{
  color: white;
  background-color: black;
}

.search {
  display: flex;
  align-items: center;
  background: #f3f3f345;
  backdrop-filter: blur(29px);
  border-radius: 10px;
  width: 557px;
  height: 40px;
}

.search img {
  margin: 24px;
}
.search input {
  width: 86%;
  height: 30px;
  background: none;
  border: none;
  outline: #0c0c0d9d;
}
.nav-icon img {
  width: 120px;
}

.navlinks-container a {
  display: none;
}

.nav-list button {
  background-color: inherit;
  border: inherit;
  outline: inherit;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account{
  position: absolute;
  right: 130px;
  top: 15px;
  height: 146%;
}
.account:hover .sign{
  position: relative;
  height: 100%;
}
.account:hover .option{
  display: block;
}

.option{
  display: none;
  position: absolute;
  border-radius: 10px;
  top: 50px;
  height: 35px;
  width: 200px;
  padding: 5px;
  text-decoration: none;
  background-color: white;
}
.option a{
  text-decoration: none;
}

.secu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 184px;
  background: #f9f9f9;
}

.ath div{
  padding-top: 15px;
}

.ath h1 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.ath p {
  font-weight: 600;
  font-size: 12px;
  max-width: 250px;
  margin-top: 8px;
}

footer {
  background: #0c0c0d;
  display: flex;
  flex-direction: column;
  padding: 0 90px 0 90px;
  color: white;
  overflow-x: auto;
}
.wro {
  grid-area: v;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
}
.wro a {
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
}

.contact {
  display: grid;
  grid-template-areas: 'n n v v m';
  grid-template-columns: repeat(3,1fr);
  padding-top: 50px;
}
.contact .sav{
  grid-area: n;
}
 
.incontact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fram2 {
  margin-top: 30px;
  position: relative;
  right: 150px;
}
.sav .social nav {
  display: block;
  margin: 0;
  padding: 15px 0;
  width: 50%;
}
.sav .social nav ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  list-style: none;
}
.newsletter{
  grid-area: m;
  padding-top: 20px;
}

.fram2 button {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 12px;
  background-color: #ffffff;
  width: max-content;
}
.fram2 img {
  padding-right: 13px;
}

.e-mail {
  font-size: 12px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
}

.mail {
  display: grid;
  grid-template-areas: 'c c c d';
  grid-template-columns: repeat(1,1fr);
  background-color: #ffffff;
  border-radius: 10px;
}

.enterMail{
  grid-area: c;
  text-align: center;
  padding-top: 2px;
}
.enterMail input{
  width: 95%;
  height: 95%;
  font-size: large;
  background: none;
  border: none;
  outline: none;
}

.mail button {
  grid-area: d;
  padding: 11px 30px 11px 16px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 20px;
}
.mail button:hover {
  background-color: #f3f3f3;
}
.mail span {
  font-weight: 600;
  font-size: 16px;
}

.mention {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  align-self: center;
  margin: 50px 80px 20px 80px;
  width: 70%;
  background: #232326;
  border-radius: 10px;
  padding: 16px 64px;
}

.mention a {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.copiryth{
  display: flex;
  justify-content: space-between;
}
.copiryth p{
  font-family:'Poppins', Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }
}
