/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 250, 250, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef2d2d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c54646b2; 
}


.post {
  padding-left: 60px;
  padding-right: 40px;
  padding-bottom: 40px;
  .categorie {
    padding-bottom: 20px;
    ul {
      display: flex;
      justify-content: center;
      padding: 20px 80px 20px 80px;
      text-align: center;
      list-style: none;
      li {
        height: 100%;
        border-radius: 30%;
        filter: saturate(0);
        cursor: pointer;
        img {
          width: 60%;
          object-fit: cover;
          border-radius: 66px;
          box-shadow: 16px 24px 20px rgba(0, 0, 0, 0.27);
          transition: 0.5s;
        }
      }
      li:hover {
        filter: none;
        img {
          box-shadow: 4px 17px 31px rgba(0, 0, 0, 0.27);
        }
      }
    }
  }

  .view {
    display: grid;
    grid-template-areas: "a a a b";
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 26px;
    height: fit-content;
    margin-bottom: 50px;
    background-color: #a8b1d4;
    border-radius: 3.3rem;
    padding-top: 22px;
    box-shadow: 60px 60px 40px 60px rgba(0, 0, 0, 0.27);
    .produit {
      grid-area: a;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: fit-content;
      padding-top: 50px;
      .element {
        margin: 0 20px 20px;
        display: flex;
        justify-content: center;
        border-radius: 3rem;
        box-shadow: 4px 18px 156px -25px rgba(0, 0, 0, 0.27);
        a {
          .namePro {
            position: absolute;
            height: 86px;
            visibility: hidden;
            top: 86px;
            border-radius: 7px 7px 33px 28px;
            text-align: center;
            text-transform: capitalize;
            font-size: 24px;
            font-weight: 600;
            background-color: rgba(232, 60, 78, 0.745);
            box-shadow: 0 5px 20px 0.1px rgba(121, 115, 115, 0.544);
            backdrop-filter: blur(29px);
            transition: top 1.5s 0.5s;
            will-change: top;
          }
        }
        a:hover {
          .namePro {
            visibility: visible;
            position: relative;
            top: 10px;
          }
        }
      }
      h1 {
        position: absolute;
        left: 130px;
      }
    }
  }
  .blin {
    position: absolute;
    left: 80%;
    height: 62vw;
    top: 60%;
    .board {
      position: sticky;
      top: 110px;
      left: 20px;
      bottom: 30px;
      z-index: 1;
      width: 380px;
      height: 520px;
      background: rgba(13, 13, 14, 0.82);
      box-shadow: -19px 14px 14px rgba(0, 0, 0, 0.25);
      border-radius: 20px 0px 0px 20px;
    }
  }
  .view.promo {
    scroll-snap-type: mandatory;
    overflow-x: scroll;
    
    .produit {
      grid-template-columns: repeat(6, 1fr);
      width: 274rem;
      height: 32vw;
      
    }
  }
}
