/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(255, 250, 250, 0);
          box-shadow: inset 0 0 5px rgba(255, 250, 250, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef2d2d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c54646b2;
}

.post {
  padding-left: 60px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.post .categorie {
  padding-bottom: 20px;
}

.post .categorie ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 80px 20px 80px;
  text-align: center;
  list-style: none;
}

.post .categorie ul li {
  height: 100%;
  border-radius: 30%;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  cursor: pointer;
}

.post .categorie ul li img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 66px;
  -webkit-box-shadow: 16px 24px 20px rgba(0, 0, 0, 0.27);
          box-shadow: 16px 24px 20px rgba(0, 0, 0, 0.27);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.post .categorie ul li:hover {
  -webkit-filter: none;
          filter: none;
}

.post .categorie ul li:hover img {
  -webkit-box-shadow: 4px 17px 31px rgba(0, 0, 0, 0.27);
          box-shadow: 4px 17px 31px rgba(0, 0, 0, 0.27);
}

.post .view {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a a a b";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 26px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 50px;
  background-color: #a8b1d4;
  border-radius: 3.3rem;
  padding-top: 22px;
  -webkit-box-shadow: 60px 60px 40px 60px rgba(0, 0, 0, 0.27);
          box-shadow: 60px 60px 40px 60px rgba(0, 0, 0, 0.27);
}

.post .view .produit {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 50px;
}

.post .view .produit .element {
  margin: 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  -webkit-box-shadow: 4px 18px 156px -25px rgba(0, 0, 0, 0.27);
          box-shadow: 4px 18px 156px -25px rgba(0, 0, 0, 0.27);
}

.post .view .produit .element a .namePro {
  position: absolute;
  height: 86px;
  visibility: hidden;
  top: 86px;
  border-radius: 7px 7px 33px 28px;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  background-color: rgba(232, 60, 78, 0.745);
  -webkit-box-shadow: 0 5px 20px 0.1px rgba(121, 115, 115, 0.544);
          box-shadow: 0 5px 20px 0.1px rgba(121, 115, 115, 0.544);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
  -webkit-transition: top 1.5s 0.5s;
  transition: top 1.5s 0.5s;
  will-change: top;
}

.post .view .produit .element a:hover .namePro {
  visibility: visible;
  position: relative;
  top: 10px;
}

.post .view .produit h1 {
  position: absolute;
  left: 130px;
}

.post .blin {
  position: absolute;
  left: 80%;
  height: 62vw;
  top: 60%;
}

.post .blin .board {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  left: 20px;
  bottom: 30px;
  z-index: 1;
  width: 380px;
  height: 520px;
  background: rgba(13, 13, 14, 0.82);
  -webkit-box-shadow: -19px 14px 14px rgba(0, 0, 0, 0.25);
          box-shadow: -19px 14px 14px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 20px;
}

.post .view.promo {
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  overflow-x: scroll;
}

.post .view.promo .produit {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  width: 274rem;
  height: 32vw;
}
/*# sourceMappingURL=view.css.map */